@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.about-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mixins.device(tablet) {
    gap: 30px;
  }
  &__collapse-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mixins.device(tablet) {
      width: 85%;
      margin: auto;
    }
  }
}
