@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  margin-bottom: 25px;
  align-items: center;
  @include mixins.device(tablet) {
    gap: 45px;
    margin-bottom: 50px;
  }
}

.card-container {
  display: grid;
  row-gap: 22px;
  grid-template-columns: 1fr;
  @include mixins.device(tablet) {
    grid-template-columns: repeat(2, minmax(335px, 1fr));
    background: #f6f6f6;
    border-radius: 25px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 35px 25px;
  }
  @include mixins.device(xl-laptop) {
    grid-template-columns: repeat(3, minmax(335px, 1fr));
    column-gap: 60px;
    row-gap: 50px;
    padding: 55px 50px;
  }
}
