@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  @include mixins.device(tablet) {
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    background: #f6f6f6;
    border-radius: 25px;
    padding: 30px;
  }
  @include mixins.device(xl-laptop) {
    grid-template-columns: repeat(3, minmax(335px, 1fr));
  }
}
