@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.loader-housing-sheet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff6060;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  @include mixins.device(tablet) {
    font-size: 36px;
  }
}

.place {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  &__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mixins.device(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__header-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    @include mixins.device(tablet) {
      font-size: 36px;
    }
  }
  &__location {
    font-size: 14px;
    font-weight: 500;
    @include mixins.device(tablet) {
      font-size: 18px;
    }
  }
  &__tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  &__host-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__collapse-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mixins.device(tablet) {
      flex-direction: row;
      > * {
        flex: 1 1 50%;
      }
    }
  }
}
