@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

main {
  flex: 1;
  margin: 0px auto;
  max-width: 335px;

  @include mixins.device(tablet) {
    margin: 0px auto;
    max-width: 750px;
  }
  @include mixins.device(xl-laptop) {
    max-width: 1240px;
    margin: 0px auto;
  }
}
