@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.header {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;

  @include mixins.device(laptop) {
    margin: 40px 0px;
  }

  &__title {
    height: 46px;
    @include mixins.device(tablet) {
      height: 68px;
    }
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link-container {
    display: flex;
    gap: 26px;
    @include mixins.device(tablet) {
      gap: 60px;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    @include mixins.device(tablet) {
      font-size: 24px;
      text-transform: none;
    }
    &--active {
      text-decoration: underline;
    }
  }
}
