@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.card {
  height: 255px;
  width: 335px;
  position: relative;
  @include mixins.device(tablet) {
    width: 340px;
    height: 340px;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &__txt {
    max-width: 50%;
    position: absolute;
    left: 20px;
    bottom: 20px;
    h3 {
      color: white;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
