@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;
.collapse-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.collapse-head {
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #ff6060;
  border-radius: 5px;
  @include mixins.device(tablet) {
    height: 52px;
  }
  &__title {
    font-weight: 700;
    color: white;
    @include mixins.device(tablet) {
      font-size: 24px;
    }
  }
  &__button {
    background-color: #ff6060;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 9px;
      width: 16px;
      transform: rotate(180deg);
      transition: 0.5s;
      @include mixins.device(tablet) {
        width: 24px;
        height: 14px;
      }
    }
    &--open {
      img {
        transform: rotate(0deg);
      }
    }
  }
}

.collapse-txt {
  background-color: #f6f6f6;
  z-index: 1;
  transform: translateY(-40px);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  height: 100%;
  @include mixins.device(tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

@keyframes open {
  from {
    transform: translateY(-40px);
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
    opacity: 0;
    max-height: 0;
  }
}

.collapse-open {
  animation: open 0.5s ease forwards;
}
.collapse-closed {
  animation: close 0.2s ease forwards;
}
