@use '../abstracts/mixins';
@use '../abstracts/variables' as *;

.host {
  display: flex;
  gap: 10px;
  align-items: center;
  &__name {
    font-size: 12px;
    font-weight: 500;
    color: $primary-color;
    text-align: right;
    white-space: pre-wrap;
    @include mixins.device(tablet) {
      font-size: 18px;
    }
  }
  &__img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @include mixins.device(tablet) {
      height: 64px;
      width: 64px;
    }
  }
}
