@use '../abstracts/mixins';
@use '../abstracts/variables' as variables;

.slideshow {
  position: relative;
  height: 255px;
  margin-bottom: 15px;
  @include mixins.device(tablet) {
    height: 415px;
    margin-bottom: 40px;
  }
  &__arrow {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    img {
      width: 20px;
      height: 20px;
      @include mixins.device(tablet) {
        height: 46px;
        width: 80px;
      }
    }
    &--right {
      transform: translateY(-50%) rotate(270deg);
      right: 10px;
      top: 50%;
    }
    &--left {
      transform: translateY(-50%) rotate(90deg);
      left: 10px;
      top: 50%;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    @include mixins.device(tablet) {
      border-radius: 25px;
    }
  }
  &__counter {
    display: none;
    @include mixins.device(tablet) {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 18px;
      transform: translateX(-50%);
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
