@use '../abstracts/mixins';
@use '../abstracts/variables' as *;

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  background-color: $primary-color;
  font-size: 10px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  @include mixins.device(tablet) {
    height: 25px;
    font-size: 14px;
    padding: 0 20px;
  }
}
